<ion-view view-title="目的地wellcome">
    <ion-content>
        <ion-list>
            <ion-item class="item item-image">
                <img src="images/jdmd.jpg" style="width: 100%;display: block;">
            </ion-item>
            <ion-item>
                详情：
                <p style="white-space: normal;padding:0 10px 0 35px;text-indent: 2em;">加德满都（尼泊尔语：काठमाडौं,काठमान्डु,拉丁语：Kathmandu）位于加德满都谷地，巴格马提河和比兴马提河的汇口处，是尼泊尔的首都，也是尼泊尔最大的城市。加德满都四周环山，北以喜马拉雅山为屏，南向印度洋暖流，海拔约1370米，市区坐落于山间的加德满都谷地之中，气候宜人，年平均温度20℃左右，拥有杜巴广场、斯瓦扬布拉特、帕斯帕提那神庙等著名景点，是世界闻名的旅游胜地，有“山中天堂”之美誉。</p>
            </ion-item>
    </ion-content>
</ion-view>